<%# CSSはcalendars/index.cssも併用して使っています%>

<div class='logout'>
  <div class='logout-title'>
    <div class='logout-title-name'>
      <%= "Share Calendar" %>
    </div>
    <div class='login-name'>
      <%= '＜　新規登録ページ　＞' %>
    </div>
  </div>

  <div class='registration-form'>
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
      
      <label class='registration-form-text'>
        ニックネーム(１０文字以内) 　 　　 　 　
        <span class='indispensable'>必須</span>
        <%= f.text_field :nickname,class: 'input-name', placeholder:"例）ヤマダ　タロウ" %>
      </label>
      
      

      <label class='registration-form-text'>
       メールアドレス　　　　 　 　 　　　　　
      <span class='indispensable'>必須</span>
      <%= f.email_field :email,class: 'input-name', placeholder:"PC・携帯どちらでも可"%>
      </label>

      <label class='registration-form-text'>
      パスワード(6文字以上・半角英数字混同）
      <span class='indispensable'>必須</span>
      <%= f.password_field :password,class: 'input-name', placeholder:"入力してください" %>
      </label>

      <label class='registration-form-text'>
      パスワード（確認用）　　　　　　　　　
      <span class='indispensable'>必須</span>
      <%= f.password_field :password_confirmation,class: 'input-name', placeholder:"上記と同じパスワード" %>
      </label>

      
      <label class='registration-form-text'>
      生年月日　　　　　　　　　　　　　　　
      <span class='indispensable'>必須</span>
      <div class='registration-birthday-text'>
        <%= raw sprintf(
          f.date_select(
          :birthday,
          use_month_numbers: true,
          prompt:'--',
          start_year: 1940,
          end_year: (Time.now.year - 5),
          date_separator: '%s'),
          " 年" , "月") +"日"
           %>
      </div>
      </label>
      <div class='registration-button'>
        <%= f.submit "登録する",class: 'registration-button-view' %>
      </div>
      
    <% end %>
  </div>
    
</div>
 