<%= render "shared/header" %>

<div class='schedule-new-page'>

  <div class='schedule-new-name'>
    <%= "＜スケジュール作成＞" %>
  </div>

  <%= form_with model: @schedule,class: 'schedule-form', url: calendar_schedules_path, method: :post, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <label class='schedule-form-text'>
  　　　日程　
  <%= f.date_select :date %>
  </label>

  <label class='schedule-form-text'>
  スケジュール名　
  <span class='indispensable'>必須</span>
  <%= f.text_field :schedule_name %>
  </label>

  <label class='schedule-form-text'>
  ジャンル　
  <span class='indispensable'>必須</span>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {}) %>
  </label>

  <label class='schedule-form-text'>
  開始時間　
  <%= f.time_select(:start_time, prompt:'--',:minute_step => 5,time_zone: 'Tokyo') %>
  </label>

  <label class='schedule-form-text'>
  終了時間　
  <%= f.time_select(:end_time, prompt:'--',:minute_step => 5) %>
  </label>

  <label class='schedule-form-text'>
  　　コメント　
  <%= f.text_area :comment %>
  </label>

  <%= f.submit 'スケジュール作成',class:'schedule-button' %>



  <% end %>

</div>