<h1><%= "タイトル:  " + @schedule.schedule_name  %></h1>

日程
<%= @schedule.date.year %>年<%= @schedule.date.month %>月<%= @schedule.date.day %>日<br>

時間
<%= @schedule.start_time.strftime("%H時%M分") %>〜<%= @schedule.end_time.strftime("%H時%M分") %><br>

ジャンル
<%= @genre.name %><br>

コメント
<%= @schedule.comment %><br>


<%= link_to '予定を編集' , edit_share_calendar_share_schedule_path(@share_calendar.id,@schedule.id) %>
<%= link_to '予定を削除' , share_calendar_share_schedule_path(@share_calendar.id,@schedule.id),method: :delete ,data: { confirm: 'この予定を本当に削除しますか？' }%>


