<h1>ShareCalendar</h1>
<% if user_signed_in? %>
<%= link_to 'カレンダーを共有', share_user_calendars_path %>
<%= link_to '新たなカレンダーを作成', new_calendar_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to '新規登録', new_user_registration_path %>
<%= link_to 'ログイン', new_user_session_path %>
<% end %>
<% if user_signed_in? %>
<%= current_user.nickname + "さん、ようこそ！" %><br>

<% @calendars.each do |calendar| %>
<% next unless current_user.id == calendar.user_id %>
  <%= link_to "#{calendar.calendar_name}のカレンダーを確認", calendar_path(calendar.id) %><br>
<% end %>

<% @share_calendars.each do |share_calendar| %>
<% next unless current_user.id == share_calendar.user_id %>
  <%= link_to "#{share_calendar.calendar.calendar_name}のカレンダーを確認", calendar_path(share_calendar.calendar_id,share_calendar: share_calendar.id) %><br>
<% end %>
<% end %>


