<h1>ShareCalendar</h1>
<% if user_signed_in? %>
<%= link_to 'カレンダーを共有', '' %>
<%= link_to '新たなカレンダーを作成', new_calendar_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to '新規登録', new_user_registration_path %>
<%= link_to 'ログイン', new_user_session_path %>
<% end %>
<% if user_signed_in? %>
<%= current_user.nickname + "さん、ようこそ！" %>

<% @calendars.each do |calendar| %>
<% next unless current_user.id == calendar.user_id %>
  <%= link_to "#{calendar.name}のカレンダーを確認", calendar_path(calendar.id) %>
<% end %>

<% end %>


