
<% if user_signed_in? %>
  <%= render "shared/header" %>

    <div class='login-user-name'>
      <%= current_user.nickname + "さん、ようこそ！" %>
    </div>

  <div class='top-page'>
    <div class='week-schedule'>
      <div class='week-schedule-name'>
        <%= "一週間の予定" %><%= Date.current.strftime("(%m/%d") %><%= Date.current.since(7.days).strftime("~%m/%d)") %>
      </div>
      <ul class='schedules'>
        <% @week_schedules.each do |schedule| %>
          <% next unless @my_calendars.ids.include?(schedule.calendar_id) %>
          <li class='schedule'>
            <%= schedule.date.strftime("%m/%d") %> <%= %w((日) (月) (火) (水) (木) (金) (土))[schedule.date.wday] %>  
            <b><%= schedule.schedule_name %></b>
            <%= "@" + schedule.calendar.calendar_name + "のカレンダー"%>
          </li>
        <% end %>
      </ul>

      <div class='week-share-schedule-name'>
        <%= " ＜共有されているカレンダーの予定＞" %>
      </div>

      <ul class='schedules'>
        <% @week_schedules.each do |schedule| %>
          <% if @my_share_calendars.include?(schedule.calendar_id) %>
            <li class='schedule'>
              <%= schedule.date.strftime("%m/%d") %> <%= %w((日) (月) (火) (水) (木) (金) (土))[schedule.date.wday] %>
              <b><%= schedule.schedule_name %></b>
              <%= "@" + schedule.calendar.calendar_name + "のカレンダー" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class='calendars'>
      <div class='calendars-check'>
        <%= "＜カレンダーを確認＞" %>
      </div>
      <div class='calendar'>
        <% @calendars.each do |calendar| %>
          <% next unless current_user.id == calendar.user_id %>
            <%= link_to "#{calendar.calendar_name}のカレンダー", calendar_path(calendar.id) %><br>      
        <% end %>
      </div>

      <div class='calendars-check'>
        <%= "＜共有されているカレンダーを確認＞" %>
      </div>
      <div class='calendar'>
        <% @share_calendars.each do |share_calendar| %>
          <% next unless current_user.id == share_calendar.user_id %>
            <%= link_to "#{share_calendar.calendar.calendar_name}のカレンダー", share_calendar_path(share_calendar.id) %><br>
        <% end %>
      </div>
    </div>
  </div>


<% else %>

  <div class='logout'>
  <%= image_tag 'top-page.jpg',class:'img' %>
    <div class='logout-title'>
      <div class='logout-title-name'>
        <%= "Share Calendar" %>
      </div>
      <div class='logout-sub-title-name'>
        <%= "〜　友達、家族、同僚、どんな人とでも"%><br><%= "　　　シェアできるカレンダー　〜" %>
      </div>
    </div>

    <div class='logout-category'>
      <ul class='logout-category-name'>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      </ul>
    </div>
    
  </div>

<% end %>

