<%= render "shared/header" %>

<div class='calendar-new-page'>

  <div class='calendar-new'>
    カレンダーを作成
  </div>

  <%= form_with model: @calendar , local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
    <div class='calendar-new-name'>
      <%=  "カレンダー名（15文字以内・変更できません）" %>
    </div>
    <%= f.text_field :calendar_name ,class: 'calendar-new-form', placeholder:"入力してください" %><br>

    <%= f.submit 'カレンダー作成',class: 'calendar-new-button' %>


  <% end %>
</div>