<%= render "shared/header" %>

<div class='calendar-show-page'>

  <div class='calendar-name'>
    <%= "＜#{@calendar.calendar_name}のカレンダー＞" %>
  </div>

  <%= month_calendar  do |date| %>
    <%= date.day %>
  <% end%>
  
  <div class='calendar-delete'>
    <%= link_to 'カレンダーを削除' , calendar_path(@calendar.id),method: :delete, data: { confirm: 'このカレンダーを本当に削除しますか？' } %>
  </div>

</div>