<h1><%= "#{@calendar.calendar_name}のカレンダー" %></h1>

<%= link_to '予定を作成', new_calendar_schedule_path(@calendar.id) %>

<%= month_calendar  do |date| %>
  <%= date.day %>
<% end%>

<%= link_to 'カレンダーを削除' , calendar_path(@calendar.id),method: :delete, data: { confirm: 'このカレンダーを本当に削除しますか？' } %>