<%= render "shared/header" %>

<div class='calendar-show-page'>

  <div class='calendar-name'>
    <%= "＜#{@share_calendar.calendar.calendar_name}のカレンダー＞" %>
  </div>

  <%= month_calendar  do |date| %>
    <%= date.day %>
  <% end%>

  <div class='calendar-delete'>
    <%= link_to 'カレンダーの共有を解除' , share_calendar_path(@share_calendar.id),method: :delete, data: { confirm: 'このカレンダーの共有を本当に解除しますか？' } %>
  </div>

</div>