<!DOCTYPE html>
<html>
  <head>
    <title>Sharecalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if flash[:notice] %>
      <div class="time-limit-notice">
        <%= flash[:notice] %>
      </div>
    <% else flash[:alert] %>
      <div class="time-limit-alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
